@import url(./__item/cards__item.css);
@import url(./__image/cards__image.css);
@import url(./__title/cards__title.css);
@import url(./__btn-like/cards__btn-like.css);

.cards {
    width: 100%;
    margin: 0 auto;
    padding: 45px 0;
    padding-bottom: 6px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(282px, 1fr));
    column-gap: 18px;
    row-gap: 21px;
    list-style: none;
}

@media screen and (max-width: 425px) {
    .cards  {
        grid-template-columns: 1fr;
    }
}