@import url(./__picture/profile__picture.css);
@import url(./__name/profile__name.css);
@import url(./__job/profile__job.css);
@import url(./__btn-add/profile__btn-add.css);
@import url(./__btn-edit/profile__btn-edit.css);

.profile {
    max-width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 168px max-content auto auto;
    grid-template-rows: auto auto;
    grid-template-areas: 
            "picture name edit add"
            "picture job . add";
    column-gap: 10px;
}

@media screen and (max-width: 768px) {
    .profile  {
        max-width: 390px;
        grid-template-columns: 120px max-content min-content;
        grid-template-rows: auto auto auto;
        grid-template-areas: 
                "picture name edit"
                "picture job job" 
                "picture add add";
    }
}


@media screen and (max-width: 425px) {
    .profile  {
        width: 100%;
        grid-template-columns: auto auto;
        grid-template-areas:
                    "picture picture"
                    "name edit"
                    "job job"
                    "add add";
        gap: 5px;
    }
}