.content {
    max-width: 882px;
    margin: 0 auto;
    padding: 45px 24px;
    padding-top: 30px;
    padding-bottom: 0;
}

@media screen and (max-width: 420px) {
    .content {
        padding: 45px 19px;
    }
}