.cards__item {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
    background-image: linear-gradient(to bottom, black, black 10%, white 10%, white 100%);
    border-radius: 13px;
    color: black;

    /* white-space: nowrap;
    */
    overflow: hidden;
}